{
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "react",
    "<THIRD_PARTY_MODULES>",
    "/css",
    "(?<!.module).scss",
    ".module.scss"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "smacss",

  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true
}
