// Fonts
$mainFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Media
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$fullHD: 1920px;

// Colors
$mainAccent: #f24e1e;
$mainWhite: #fff;
$mainBg: #2196f3;
$linkHoverText: #fff;
$linkHoverBg: #1e88e5;

// Time Effects
$timeHover: 300ms;
$timeAnimationCard: 500ms;
